<div class="home-container">
    <div class="texto">
        {{languageService.content.HOME_TITLE}}
    </div>
    <div class="home-button-container">
        <button class="btn btn-sm home-option-button" routerLink="/hostpots">
            {{languageService.content.HOTSPOT}}
        </button>
        <button class="btn btn-sm home-option-button" routerLink="/routes">
            {{languageService.content.RUTAS}}
        </button>
        <button class="btn btn-sm home-option-button" routerLink="/birdFamilies">
            {{languageService.content.FAMILIAS}}
        </button>
    </div>


</div>